h1{
    color: blue;
    background-color: azure;
}

h2{
    color:green;
}

p{
    color: red;
    background-color: yellow;
}

button{
    color: rgb(165, 244, 8);
    background-color: antiquewhite;
}